<div class="panel panel-default">
    <div class="panel-heading paddingtop0">
    	<!--
        <ol class="breadcrumb" style="margin-bottom:0px;margin-top:0px;padding:0px 0px;">
        	<li>模板管理</li>
            <li class="active">网段管理</li>
        </ol>
        -->
        
    </div>
    <div class="panel-body">
		<ul class="nav nav-tabs">
            <li class="active">{{#link-to "dashboard.log.detail" model.deviceId "install"}}列表模式{{/link-to}}</li> 
            <li>{{#link-to "dashboard.log.cmd" model.deviceId "install"}}滚动模式{{/link-to}}</li>
        </ul>
        <br>
		
        <table class="table big">
            <thead>
                <tr>
                	
                    <th width="20%">时间</th>
                    <th width="25%">主题</th>
                    <th width="48%">内容</th>
                </tr>
            </thead>
            <tbody>
            	{{#each model.info as |item index|}}
                <tr>
                	
					<td>{{item.CreatedAt}}</td>
					<td>{{item.Title}}</td>
					<td>{{common/io-ansi text=item.Content}}</td>
				</tr>
				{{/each}}
            </tbody>
        </table>
        <div class="padding10">
            <button type="button" onclick="javascript:history.go(-1);" class="btn btn-default">返 回</button>
        </div>
    </div>
</div>