<div class="panel panel-default">
    {{!-- <div class="panel-heading">
        <ol class="breadcrumb" style="margin-bottom:0px;margin-top:0px;padding:0px 0px;">
        	<li>位置管理</li>
            <li class="active">编辑位置</li>
        </ol>
    </div> --}}
    {{#common/io-form-validator submitForm="saveAction"}}
	<form class="form-horizontal">
    <div class="panel-body">
        <table class="table no-border">
			<tbody>
				<tr>
					<td align="right" width="20%"><label class="required" for="Pid">父级位置</label></td>
					<td width="80%">
						<div class="col-md-5">
							{{view "select" required=true class="form-control" prompt="请选择" content=model.tree value=model.info.Pid optionValuePath="content.ID" optionLabelPath="content.ShowName" }}
						</div>
					</td>
				</tr>

				<tr>
					<td align="right" width="20%"><label class="required" for="Name">位置名</label></td>
					<td width="80%">
						<div class="col-md-5">{{input required=true id="Name" value=model.info.Name type="text" class="form-control input-md"}}</div>
						<div class="col-md-7" style="margin-top: 6px;font-size: 13px;">
							注:由于多层级位置间以"-"为间隔符,位置名里的"-"会自动替换为"_"
						</div>
					</td>
				</tr>
				
			</tbody>
		</table>
		<div class="text-center">
	        <button type="submit" class="btn btn-primary">提 交</button>
	        &nbsp;&nbsp;
	        {{#link-to "dashboard.location.list" model.info.Pid}}<button type="button" class="btn btn-default">取　消</button>{{/link-to}}
		</div>
    </div>
    </form>
	{{/common/io-form-validator}}
</div>