<div class="panel panel-default">
	<div class="panel-body" style="padding: 0px;">
		
		<div id="div_silde" class="carousel slide">
		   <ol class="carousel-indicators">
		      <li data-target="#div_silde" data-slide-to="0" class="active"></li>
		      <li data-target="#div_silde" data-slide-to="1"></li>
		      <li data-target="#div_silde" data-slide-to="2"></li>
		   </ol>   
		   <div class="carousel-inner">
		      <div class="item active">
		         <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="400" src="./image/slide/cloudboot_anima1.html"></iframe>
		      </div>
		      <div class="item">
		         <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="400" src="./image/slide/cloudboot_anima2.html"></iframe>
		      </div>
		      <div class="item">
		         <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="400" src="./image/slide/cloudboot_anima3.html"></iframe>
		      </div>
		   </div>
		   <!--
		   <a class="carousel-control left" href="#div_silde" 
		      data-slide="prev">&lsaquo;</a>
		   <a class="carousel-control right" href="#div_silde" 
		      data-slide="next">&rsaquo;</a>
		   -->
		</div> 
		<script type="text/javascript">
			$('#div_silde').carousel({
			  interval: 5000
			});
		</script>
		{{!-- {{#if (not-eq report.Count 0)}}
		<div>
			<div id="div_chart" style="height:400px"></div>
			<script type="text/javascript">
					var companyData = {{model.companyData}}
					var osData = {{model.osData}}
			        var myChart = echarts.init(document.getElementById("div_chart"));
			        var option = {
					    title : {
					        text: 'CloudBoot 云启装机平台数据统计',
					        subtext: "累计安装 {{report.Count}} 台/次",
					        x:'center'
					    },
					    tooltip : {
					        trigger: 'item',
					        formatter: "{a} <br/>{b} : {c} ({d}%)"
					    },
					    toolbox: {
					        show : true,
					        feature : {
					            mark : {show: true},
					            dataView : {show: true, readOnly: false},
					            magicType : {
					                show: true, 
					                type: ['pie', 'funnel'],
					                option: {
					                    funnel: {
					                        x: '25%',
					                        width: '50%',
					                        funnelAlign: 'left',
					                        max: 1548
					                    }
					                }
					            },
					            restore : {show: true},
					            saveAsImage : {show: true}
					        }
					    },
					    calculable : true,
					    series : [
					        {
					            name:'',
					            type:'pie',
					            radius : '55%',
					            center: ['25%', '60%'],
					            data:companyData
					        },
					        {
					            name:'',
					            type:'pie',
					            radius : '55%',
					            center: ['75%', '60%'],
					            data:osData
					        }
					    ]
					};           
			        myChart.setOption(option);
			    </script>
			</div>
			<br><br>
			{{/if}} --}}
			<div>
				<h4 style="color:#A0A5AC; padding-left: 20px;">支持设备厂商</h4>
				<div class="rows">
					<ul class="list-inline brand-ul">
					  <li>
					  	{{#link-to "dashboard.hardware.list"}}
						<img width="128" height="128" src="image/logo/huawei.png" />
						{{/link-to}}
					  </li>

					  <li>
					  	{{#link-to "dashboard.hardware.list"}}
						<img src="image/logo/h3c.png" width="128" height="128" />
						{{/link-to}}
					  </li>

					  <li>
					  	{{#link-to "dashboard.hardware.list"}}
						<img width="150" height="99" src="image/logo/inspur.png" />
						{{/link-to}}
					  </li>

					  <li>
					  	{{#link-to "dashboard.hardware.list"}}
						<img src="image/logo/dell.png" width="128" height="128" />
						{{/link-to}}
					  </li>
					  
					  <li>
					  	{{#link-to "dashboard.hardware.list"}}
						<img width="128" height="99" src="image/logo/lenovo.png" />
						{{/link-to}}
					  </li>
					  <li>
					  	{{#link-to "dashboard.hardware.list"}}
						<img width="128" height="128" src="image/logo/hp.png" />
						{{/link-to}}
					  </li>
					  <li>
					  	{{#link-to "dashboard.hardware.list"}}
						<img width="128" height="128" src="image/logo/ibm.png" />
						{{/link-to}}
					  </li>
					  <!--
					  <li>
					  	{{#link-to "dashboard.hardware.list"}}
						<img width="128" height="99" src="image/logo/powerleader.png" />
						{{/link-to}}
					  </li>
					 -->
					</ul>
				</div>
			</div>
			<br>
			<div>
				<h4 style="color:#A0A5AC; padding-left: 20px;">支持应用系统</h4>
				<div class="rows">
					<ul class="list-inline os-ul">
					  <li>
					  	{{#link-to "dashboard.os.list"}}
						<img width="151" height="100" src="image/logo/redhat.png" />
						{{/link-to}}
					  </li>

					  <li>
					  	{{#link-to "dashboard.os.list"}}
						<img width="141" height="100" src="image/logo/centos.png" />
						{{/link-to}}
					  </li>

					  <li>
					  	{{#link-to "dashboard.os.list"}}
						<img width="100" height="100" src="image/logo/suse.png" />
						{{/link-to}}
					  </li>

					  <li>
					  	{{#link-to "dashboard.os.list"}}
						<img width="151" height="65" src="image/logo/ubuntu.png" />
						{{/link-to}}
					  </li>

					  <li>
					  	{{#link-to "dashboard.os.list"}}
						<img width="151" height="85" src="image/logo/windowsserver.png" />
						{{/link-to}}
					  </li>

					  <li>
					  	{{#link-to "dashboard.os.list"}}
						<img width="151" height="97" src="image/logo/vmware.png" />
						{{/link-to}}
					  </li>

					  <li>
					  	{{#link-to "dashboard.os.list"}}
						<img width="151" height="71" src="image/logo/openstack.png" />
						{{/link-to}}
					  </li>

					  <li>
					  	{{#link-to "dashboard.os.list"}}
						<img width="151" height="107" src="image/logo/xenserver.png" />
						{{/link-to}}
					  </li>
					</ul>
				</div>
			</div>
	</div>
</div>