<div class="panel panel-default">
    {{!-- <div class="panel-heading">
        <ol class="breadcrumb" style="margin-bottom:0px;margin-top:0px;padding:0px 0px;">
        	<li>设备型号管理</li>
            <li  class="active">导入设备型号</li>
        </ol>
    </div> --}}
    {{#common/io-form-validator submitForm="saveAction"}}
	<form class="form-horizontal">
    <div class="panel-body">
        <table class="table no-border">
			<tbody>
				<tr>
					<td align="right" width="18%"><label class="required">上传文件</label></td>
					<td width="82%">
						<div class="block">
							<div class="col-md-5">
								{{#common/io-file-upload upload="upload" autoUpload=false showUploadButton=false multiple=false}}{{/common/io-file-upload}}
							</div>
						</div>
						<div class="block" style="padding-top: 30px; padding-left: 13px;">
							<div>
							<b>温馨提示：</b> <br />
							<span style="font-size: 13px;">
								新导入的型号状态默认为“待审核”，请在测试通过后，将状态修改为“审核成功”<br />
							</span>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="text-center">
	        <button type="submit" class="btn btn-primary">提 交</button>
	        &nbsp;&nbsp;
	        <button onclick="javascript:history.go(-1);" type="button" class="btn btn-default">取　消</button>
		</div>
    </div>
    </form>
	{{/common/io-form-validator}}
</div>