<div class="panel panel-default">
    {{!-- <div class="panel-heading">
        <ol class="breadcrumb" style="margin-bottom:0px;margin-top:0px;padding:0px 0px;">
        	<li>操作系统管理</li>
            <li class="active">编辑操作系统</li>
        </ol>
    </div> --}}
    {{#common/io-form-validator submitForm="addAction"}}
	<form class="form-horizontal">
    <div class="panel-body">
        <table class="table no-border">
			<tbody>
				<tr>
					<td align="right" width="20%"><label class="required" for="Name">操作系统版本</label></td>
					<td width="80%">
						<div class="col-md-5">
						{{input type="text" id="Name" value=model.info.Name required=true class="form-control input-md"}}
						<span class="help-block with-errors"></span>
						</div>
					</td>
				</tr>
				
				<tr>
					<td align="right"><label class="required" for="Pxe">PXE配置</label></td>
					<td colspan=3>
						<div class="col-md-10">
						<!--
						{{textarea id="Pxe" value=model.info.Pxe required=true rows="15" class="form-control input-md"}}
						-->
						{{common/io-editor height="300px" data=model.info key='Pxe' editable=true}}
						</div>
					</td>
				</tr>

				<!--
				<tr>
					<td class="active" align="right"><b>备注</b></td>
					<td colspan=3>
						{{textarea value="" rows="6" class="form-control input-md"}}
					</td>
				</tr>
				-->
			</tbody>
		</table>
		<div class="text-center">
	        <button type="submit" class="btn btn-primary">提 交</button>
	        &nbsp;&nbsp;
	        <!--
	        {{#link-to "dashboard.os.new"}}<button type="button" class="btn btn-primary">克隆新模板</button>{{/link-to}}
	        -->
	        {{#link-to "dashboard.os.list"}}<button type="button" class="btn btn-default">取　消</button>{{/link-to}}
		</div>
    </div>
    </form>
	{{/common/io-form-validator}}
</div>