<div class="panel panel-default">
    <div class="paddingtop10 paddingright15 paddingbottom10" style="float:right;">
        {{#link-to "dashboard.os.new" "new"}}<button type="button" class="btn btn-primary btn-xs">添加新PXE模板</button>{{/link-to}}
    </div>

    {{!-- <div class="panel-heading paddingtop0">
        <div class="breadcrumb paddingtop3 paddingleft0">
	        <div style="float: left;">
	        	<div class="panel-heading paddingleft0">
                    <ol class="breadcrumb" style="margin-bottom:0px;margin-top:0px;padding:0px 0px;">
                        <li>模板管理</li>
                        <li class="active">操作系统管理</li>
                    </ol>
                </div>
	        </div>
	        <div style="float:right; position: relative; top: 7px; left: 16px;">
	        	{{#link-to "dashboard.os.new" "new"}}<button type="button" class="btn btn-primary btn-xs">添加新操作系统</button>{{/link-to}}
	        </div>
        </div>
    </div> --}}
    
    <div class="panel-body">
        <table class="table big">
            <thead>
                <tr>
                	<th width="7%">ID</th>
                    <th width="20%">操作系统版本</th>
                    <th width="43%">PXE配置</th>
                    <th width="30%" class="text-left">操作</th>
                </tr>
            </thead>
            <tbody>
            	{{#each rowList as |item index|}}
                <tr>
                	<td>{{item.ID}}</td>
					<td>{{item.Name}}</td>
					<td>
                         {{#link-to "dashboard.os.detail" item.ID}}查看{{/link-to}}          
                    </td>
					<td class="text-left">
                        {{#link-to "dashboard.os.new" item.ID}}<i title="克隆" class="io-fa icon-copy"></i>{{/link-to}}
                        &nbsp;&nbsp;
                        {{#link-to "dashboard.os.edit" item.ID}}<i title="修改" class="io-fa icon-edit"></i>{{/link-to}}
                        &nbsp;&nbsp;
                        <a style="" href="javascript:void(0);" {{action "deleteAction" item.ID}}><i title="删除" class="io-fa icon-delete"></i></a>
					</td>
				</tr>
				{{/each}}
            </tbody>
        </table>
        <div class="padding10">
            {{#if (not-eq 1 pageCount)}}
                {{#common/io-pagination count=pageCount current=page change='pageChanged'}}{{/common/io-pagination}}
            {{/if}}
        </div>
    </div>
</div>