<div class="panel panel-default">
    <div class="panel-heading paddingtop0">
    	<!--
        <ol class="breadcrumb" style="margin-bottom:0px;margin-top:0px;padding:0px 0px;">
        	<li>模板管理</li>
            <li class="active">网段管理</li>
        </ol>
        -->
        <div class="breadcrumb paddingtop3">
	        <div style="float: left;">
	        	<h5>位置管理</h5>
	        </div>
	        <div style="float:right">
	        	{{#link-to "dashboard.location.new"}}<button type="button" class="btn btn-primary">添加新位置</button>{{/link-to}}
	        </div>
        </div>
        
    </div>
    <div class="panel-body">
		<!--
			<div class="text-right paddingbottom10">{{#link-to "dashboard.network.new"}}<button type="button" class="btn btn-primary">添加网段</button>{{/link-to}}</div>
		-->

		
		
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="info">
                    <th>父级位置</th>
                   	<th>位置</th>
                   	<th>子项</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
					<td>{{#link-to "dashboard.location.list"}}留下机房{{/link-to}}</td>
					<td>A101</td>
					<td>
					{{#link-to "dashboard.location.room"}}查看{{/link-to}}
					</td>
					<td>
					{{#link-to "dashboard.location.new"}}<button type="button" class="btn btn-default">添加子位置</button>{{/link-to}}
					{{#link-to "dashboard.location.new"}}<button type="button" class="btn btn-default">修改</button>{{/link-to}}
					{{#link-to "dashboard.location.list"}}<button type="button" class="btn btn-default">删除</button>{{/link-to}}
					</td>
				</tr>

				<tr>
					<td>{{#link-to "dashboard.location.list"}}留下机房{{/link-to}}</td>
					<td>A102</td>
					<td>
					{{#link-to "dashboard.location.room"}}查看{{/link-to}}
					</td>
					<td>
					{{#link-to "dashboard.location.new"}}<button type="button" class="btn btn-default">添加子位置</button>{{/link-to}}
					{{#link-to "dashboard.location.new"}}<button type="button" class="btn btn-default">修改</button>{{/link-to}}
					{{#link-to "dashboard.location.list"}}<button type="button" class="btn btn-default">删除</button>{{/link-to}}
					</td>
				</tr>

				<tr>
					<td>{{#link-to "dashboard.location.list"}}留下机房{{/link-to}}</td>
					<td>A103</td>
					<td>
					{{#link-to "dashboard.location.room"}}查看{{/link-to}}
					</td>
					<td>
					{{#link-to "dashboard.location.new"}}<button type="button" class="btn btn-default">添加子位置</button>{{/link-to}}
					{{#link-to "dashboard.location.new"}}<button type="button" class="btn btn-default">修改</button>{{/link-to}}
					{{#link-to "dashboard.location.list"}}<button type="button" class="btn btn-default">删除</button>{{/link-to}}
					</td>
				</tr>

				
				
            </tbody>
        </table>
        <div class="padding10">
            <ul class="pagination">
				<li><a href="#">&laquo;</a></li>
				<li class="active"><a href="#">1</a></li>
				<li class="disabled"><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">&raquo;</a></li>
			</ul>
        </div>
    </div>
</div>