<!--
<div class="navbar-static-top navbar-inverse" id="topDiv">
	<div class="container-fluid">
		<div class="navbar-header navbar-brand">{{#link-to "dashboard"}}IDCOS 物理机装机平台{{/link-to}}</div>
	</div>
</div>
-->

<div style="width: 500px; margin-left: 300px; margin-top: 100px;">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">用户登录</h3>
		</div>
		<div class="panel-body">
			<div class="col-md-10">
				{{#common/io-form-validator submitForm="loginAction"}}
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-md-3 control-label" for="textinput">用户名：</label>
						<div class="form-group col-md-9">
							{{input type="text" value=model.info.Username  required=true class="form-control input-md"}}
							<div class="help-block with-errors"/>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label" for="textinput">密码：</label>
						<div class="form-group col-md-9">
							{{input type="password" value=model.info.Password required=true class="form-control input-md"}}
							<div class="help-block with-errors"/>
						</div>
					</div>	

					<div class="text-center">
						<button type="submit" class="btn btn-primary">登 录</button>
					</div>
				</form>
				{{/common/io-form-validator}}
			</div>
		</div>
	</div>
</div>