<div class="" style="width: 600px; margin:100px auto;">
	<div class="error-spacer"></div>
	<div role="main" class="main">
		
		<h1>Oh no!</h1>

		<h2>You are using an outdated browser.</h2>
		<hr>

		<p>To display the app correctly and protect your information</p>
		<p>Please use one of these up-to-date, free and excellent browsers</p>
		<p> <b>Chrome</b>、<b>Firefox</b>、<b>Safari</b>、<b>IE 11</b></p>
	</div>
</div>