<div class="panel panel-default">
    {{!-- <div class="panel-heading">
        <ol class="breadcrumb" style="margin-bottom:0px;margin-top:0px;padding:0px 0px;">
        	<li>系统模板管理</li>
            <li class="active">编辑系统模板</li>
        </ol>
    </div> --}}
    {{#common/io-form-validator submitForm="addAction"}}
	<form class="form-horizontal">
    <div class="panel-body">
        <table class="table no-border">
			<tbody>
				<tr>
					<td align="right" width="20%"><label class="required" for="Name">模板名</label></td>
					<td width="80%">
						<div class="col-md-5">{{input required=true id="Name" value=model.info.Name type="text" class="form-control input-md"}}</div>
					</td>
				</tr>
				
				
				<tr>
					<td align="right"><label class="required" for="Content">内容</label></td>
					<td colspan=3>
						<div class="col-md-10">
						<!--
						{{textarea required=true id="Content" value=model.info.Content rows="15" class="form-control input-md"}}
						-->
						{{common/io-editor height="400px" data=model.info key='Content' editable=true}}
						</div>
					</td>
				</tr>
				
			</tbody>
		</table>
		<div class="text-center">
	        <button type="submit" class="btn btn-primary">提 交</button>
	        &nbsp;&nbsp;
	        <!--
	        {{#link-to "dashboard.systemTpl.new"}}<button type="button" class="btn btn-primary">克隆新模板</button>{{/link-to}}
	        -->
	        {{#link-to "dashboard.systemTpl.list"}}<button type="button" class="btn btn-default">取　消</button>{{/link-to}}
		</div>
    </div>
    </form>
	{{/common/io-form-validator}}
</div>