<div class="panel panel-default">
	<!--
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin-bottom:0px;margin-top:0px;padding:0px 0px;">
        	<li>装机管理</li>
            <li class="active">批量导入新设备</li>
        </ol>
    </div>
    -->
    <div class="panel-body">
	    <ul class="nav nav-tabs nav-tabs-bare"> 
			<li>{{#link-to "dashboard.device.new"}}单台录入{{/link-to}}</li> 
		    <li class="active">{{#link-to "dashboard.device.import"}}批量录入{{/link-to}}</li>
		</ul>
		<br>
        <table class="table no-border">
			<tbody>
				<tr>
					<td align="right" width="20%">上传文件</td>
					<td width="80%">
						<div class="block">
							<div class="col-md-6">
							{{#common/io-file-upload upload="upload" autoUpload=false showUploadButton=false multiple=false}}{{/common/io-file-upload}}
							</div>
							<div class="col-md-4" style="margin-top: 5px; font-size: 14px;">
								<a href="idcos-osinstall-device-import.csv" target="_blank">下载导入模板</a>
							</div>
						</div>
						<br>
						<div class="block" style="padding-top: 30px; padding-left: 13px;">
						<div>
						<b>温馨提示：</b> <br />
						<span style="font-size: 13px;">
						1、SN已存在的情况下，会覆盖以前的信息 <br />
						2、SN，主机名，财编最大长度为255字符 <br />
						3、位置栏请填写完整的位置名，各级位置间请用"-"连接，如：机房名-楼层-房间号-机架位 <br />
						4、填写的信息里不允许出现","，您可以将其替换为";" <br />
						5、操作系统模板、系统安装模板请填写完整的模板名称 <br />
						6、硬件配置模板请填写完整的模板名称，厂商和产品型号间以"-"隔开，如:Dell-PowerEdge R420
						</span>
						</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="text-center">
			
	        <button type="button" {{action "saveAction"}} class="btn btn-primary">提 交</button>
	       	&nbsp;&nbsp;
	        {{#link-to "dashboard.device.list" "all"}}<button type="button" class="btn btn-default">取　消</button>{{/link-to}}
		</div>
    </div>
</div>