.col-upload{
    .form-group{
        width: 100%;
        input{
            width: 100%;
            margin: 0 0 10px 15px;
        }
    }
}

.stdout{
    textarea{
        background: black;
        color: wheat;
    }
}